<% layout("/layouts/boilerplate")%>
  <body>
    <div class="row">
      <div class="col-8 offset-2" >
        <br> <br>
        <h3>Create a New Listing</h3>
        <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
          <br> <br>
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input 
              name="listing[title]" 
              placeholder="Add a catchy title" type="text" class="form-control"
              required
            />  
            <div class="valid-feedback">
               Title looks good!
            </div>
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea
              name="listing[description]"
              placeholder="enter description"
              class="form-control"
             required
          ></textarea>
          <div class="invalid-feedback">
            please enter a short description
          </div>
          </div>
          <div class="mb-3">
            <label for="image" class="form-label">Upload Listing Image</label>
            <input
              name="listing[image]"
              type="file"
              class="form-control"
              required
            />
          </div>


          <div>
            <label for="category" class="form-label">Choose Category</label>
            <select id="category" name="listing[category]" class="form-select" required>
                <option value="" disabled selected>Select a category</option>
                <option value="Rooms">Rooms</option>
                <option value="Iconic-Cities">Iconic Cities</option>
                <option value="Trending">Trending</option>
                <option value="Mountains">Mountains</option>
                <option value="Castles">Castles</option>
                <option value="Boat">Boat</option>
                <option value="Ski-in-out">Ski-in/out</option>
                <option value="Apartment">Apartment</option>
                <option value="New">New</option>
                <option value="Woodlands">Woodlands</option>
                <option value="Lake">Lake</option>
                <option value="Amazing-Pools">Amazing Pools</option>
                <option value="Cabins">Cabins</option>
                <option value="Camping">Camping</option>
                <option value="Farm">Farm</option>
                <option value="Arctic">Arctic</option>
                <option value="Beach">Beach</option>
                <option value="Countryside">Countryside</option>
                <option value="Bed-and-Breakfasts">Bed & Breakfasts</option>
                <option value="Campsite">Campsite</option>
                <option value="Historical-Homes">Historical Homes</option>
            </select>
            <div class="invalid-feedback">Choose Category</div>
        </div>
        

          <div class="row">
            <div class="mb-3 col-md-4" >
              <label for="price" class="form-label">Price</label>
              <input 
                name="listing[price]" 
                placeholder="1200"  
                class="form-control"
                required
              />
              <div class="invalid-feedback">
                Price should be valid
              </div>
            </div>
            <div class="mb-3 col-md-8">
              <label for="country" class="form-label">Country</label>
              <input 
                name="listing[country]" 
                placeholder="India" 
                type="text" 
                class="form-control" 
                required
               />
               <div class="invalid-feedback">
                Country should be valid
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input
              name="listing[location]"
              placeholder="enter location"
              type="text"
              class="form-control"
              required
            />
            <div class="invalid-feedback">
              Location should be valid
            </div>
          </div>

          <div class="mb-3">
            <button class="btn btn-dark add-btn">Add</button>
          </div>
          <br> <br>
        </form>
      </div>
    </div>
  </body>
